*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase{
    background-color: rgba(0,255,0,0.3);
    position: relative;
    color: #fff;
    height: 100vh;
}

.showcase::before{
    content: '';
    position: absolute;
    background: url('haduken.jpg') no-repeat center center/cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size: 1.3rem;
}

.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line [Middle] */

 .menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Lines [Top & Bottom] */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after{
    top: 10px;
}
